body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* HEADER =================================== */
header {
  display: flex;
  justify-content: flex-start;
  height: 20vh;
  width: 100vw;
}

.main{
  display: flex;
  flex-direction: row;
}
/* INPUT =================================== */

.user-side {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh;
  width: 48vw;

}

/* OUTPUT =================================== */
.haiku-card {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
#haiku-list {
  list-style: none;
  padding: 0;
}

/* HAIKU =================================== */

.twitter-side {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 48vw;
}
.twitter-stream {
  display: flex;

}