body {
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 3% 45% 45% 3%;
  grid-gap: 2%;
}
/* HEADER =================================== */
header {
  grid-column: 2 / 4;
  grid-row: 1;
}

.main{
  grid-column: 2;
  grid-row: 2;
}
/* INPUT =================================== */

.user-side {
  grid-column: 2;
  grid-row: 2;
}

/* OUTPUT =================================== */
.haiku-card {
  text-align: left;
}
#haiku-list {
  list-style: none;
  padding: 0;
}

/* HAIKU =================================== */


.twitter-stream {
  grid-column: 3;
  grid-row: 2;

}

footer {
  grid-column: 2 / 4;
  grid-row: 3;
}

@media screen and (max-width: 979px) {
  header {
    text-align: center;
  }
  .main{
    grid-column: 2 / 4;
    grid-row: 2;
    text-align: center;
  }
  
  .user-side {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .twitter-stream {
    grid-column: 2/ 4;
    grid-row: 3;
  
  }
  footer {
    grid-row: 4;
  }
}