body {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 250;
  background-color: white;
}


.App {
  display: grid;
  grid-template-columns: 3% 45% 45% 3%;
  grid-gap: 2%;
}
/* HEADER =================================== */
header {
  grid-column: 2 / 4;
  grid-row: 1;
}

.main{
  grid-column: 2;
  grid-row: 2;
  background-color: #A8AAFF;
  padding: 5px;
  border: 1px solid #6C6EC1;
  border-radius: 1%;
}
/* INPUT =================================== */

.user-side {
  grid-column: 2;
  grid-row: 2;

}

#username {
  border: none;
  border-bottom: 1px solid black;
  width: 150px;
  background: transparent;
}

#submit-button {
  width: 100px;
  color: white;
  background-color: #353774;
  border: none;
  font-weight: 100;
  font-kerning: 300;
  margin-left: 3px;
}

.button {
  width: 100px;
  color: white;
  background-color: #353774;
  border: none;
  margin: 3px;
  margin-left: none;
}
.button:hover {
  background-color: transparent;
  color: #353774;
  transition: .3s;
  border: solid 1px white;
}

/* OUTPUT =================================== */
.haiku-card {
  text-align: left;
}
#haiku-list {
  list-style: none;
  padding: 0;
  width: 50%;
  height: 70px;
  
}
.haiku-list-item {
  margin-top: -2px;
  color: white;
}
/* HAIKU =================================== */

/* INSTRUCTIONS ================================= */
.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-in-leave {
  opacity: 1;
}

.fade-in-leave.fade-in-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.twitter-stream {
  grid-column: 3;
  grid-row: 2;

}

footer {
  grid-column: 2 / 4;
  grid-row: 3;
}

@media screen and (max-width: 979px) {
  header {
    text-align: center;
  }
  .main{
    grid-column: 2 / 4;
    grid-row: 2;
    text-align: center;
  }
  
  .user-side {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .twitter-stream {
    grid-column: 2/ 4;
    grid-row: 3;
  
  }
  footer {
    grid-row: 4;
  }
}